{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Shopping Cart</h1>
    {% if cart_items %}
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="{{ product.img.url }}" alt="{{ product.name }}" style="width: 50px;"></td>

                <td>{{ item.product.name }}</td>
                <td>${{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price * item.quantity }}</td>
                <td>
                    <a href="#">Remove</a>
                    <a href="#">Save for Later</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary">Buy Now</button>
    </div>
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
