{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% static "images" as images_dir %}
<div class="row destinations_row">
    <div class="col">
        <div class="product_container item_grid">
            {% for product in product %}
                <div class="product item">
                    <div class="product_image">

                        {% if product.img %}
                        <img src="{{product.img.url}}" class="img-thumbnail" alt="{{product.name}} ">
                        {% else %}
                        <img src="{% static 'images/product.png' %}" class="img-thumbnail" alt="E-Commerce ">
                        {% endif %}
                        {% if product.offer %}
                            <div class="spec_offer text-center"><a href="#">Special offer</a></div>
                        {% endif %}
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description }}</p>
                        <span>${{ product.price }}</span>
                        <button>Add to Cart</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
