{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Product_details.css' %}">

<main class="offcanvas-enabled" style="padding-top: 5rem;">

	<section class="ps-lg-4 pe-lg-3 pt-4">
		<div class="px-3 pt-2">
<form action="" method="post">
	{% csrf_token %}
			<section class="row g-0 mx-n2 pb-5 mb-xl-3">
				<div class="col-xl-7 px-2 mb-3">
					<div class="h-100 bg-light rounded-3 p-4">
						<!-- Product image description Here -->
						<div class="product-gallery">
							<div class="product-gallery-preview order-sm-2">

                                <div class="product-container" >
                                    <ul class="product-small-image">
                                        <li class="product-image-item"><div class="product-gallery-preview-item active" id="image1">
                                            {% if product.img %}
                                            <a href="#"><img src="{{ product.img.url }}" class="img-thumbnail" alt="{{ product.name }}"></a>
                                            {% else %}
                                            <a href="#"><img src="{% static 'images/product.png' %}" class="img-thumbnail" alt="E-Commerce"></a>
                                            {% endif %}    
                                        </div></li>
                                        <li class="product-image-item"><div class="product-gallery-preview-item active" id="image2">
                                            {% if product.img %}
                                            <a href="#"><img src="{{ product.img.url }}" class="img-thumbnail" alt="{{ product.name }}"></a>
                                            {% else %}
                                            <a href="#"><img src="{% static 'images/product.png' %}" class="img-thumbnail" alt="E-Commerce"></a>
                                            {% endif %}    
                                        </div></li>
                                        <li class="product-image-item"><div class="product-gallery-preview-item active" id="image3">
                                            {% if product.img %}
                                            <a href="#"><img src="{{ product.img.url }}" class="img-thumbnail" alt="{{ product.name }}"></a>
                                            {% else %}
                                            <a href="#"><img src="{% static 'images/product.png' %}" class="img-thumbnail" alt="E-Commerce"></a>
                                            {% endif %}    
                                        </div></li>
                                        <!-- Add more image items here if needed -->
                                    </ul>=
                                    <div class="product-main-image">
                                        <div class="product-gallery-preview-item active" id="product-main-image">
                                            {% if product.img %}
                                            <a href="#"><img src="{{ product.img.url }}" class="img-thumbnail" alt="{{ product.name }}"></a>
                                            {% else %}
                                            <a href="#"><img src="{% static 'images/product.png' %}" class="img-thumbnail" alt="E-Commerce"></a>
                                            {% endif %}    
                                        </div>
                                        <!-- Add other product details here -->
                                        <div class="product-actions">
                                            <!-- <button class="add-to-cart-btn"><a href="{% url 'cart' %}">Add to cart</a></button> -->
											<!-- <button type="button" value="{{product.id}}" class="add-to-cart-btn" id="add-to-cart">Add to cart</button> -->
											<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                                            <button class="buy-now-btn">Buy Now</button>
											
                                        </div>
                                    </div>
                                </div>

							</div>
						</div>
						<!-- Product image Info Ends Here -->
						<!-- Product Details Starts Here -->
						<div class="content">
							<div class="h-200 bg-light rounded-3 p-4">
								<div class="product-details">
									<h3 class="product-name">{{ product.title }}</h3>
									<h4 class="product-description">{{ product.desc|striptags|truncatewords:50 }}...</h4>
									<span style="color: darkgreen;">Special Price</span><br>
									<h4 class="product-price"><span class="money">${{ product.price }}</span></h4>

									<span style="color: black;">Coupons for you</span><br>
									<!-- <span>Get extra ₹500 off on 1 item(s) (price inclusive of cashback/coupon) T&C</span><br> -->
									{% include 'partials/_coupon_listing.tpl' %}
									<br><br>
									<span>Available Offers</span><br>
									{% include 'partials/offer_listing.tpl' with offers=offers %}



									<!-- {% if warranty == True %}
									<div>{{warrenty.no}} Month warranty </div>
									{% else%}
									No Warranty
									{% endif %} -->
									

									<br><br>
									<h4 class="product-stock"> In Stock: {% if product.inventory > 0 %}Yes{% else %}No{% endif %}</h4>
									<!-- Add other product details here -->
									<strong class="available-size">Available Sizes:</strong><br />
									{% for size in product.sizes %}
									{% if loop.first == false %},&nbsp;{%endif%}<a href="#">  {{ size }}</a>
									{% endfor %}
									<select name="size" id="sizeSelect">
										{% for size in sizes %}
										<option value="{{ size.id }}">{{ size.type }} ({{ size.quantity }})</option>
										{% endfor %}
									</select>
									<a href="#" data-reveal-id="myModal" onclick="showProductDetails()">View Full Description</a><br/><br/>
									<select multiple name="color">
										<option value="Black">Black</option>
										<option value="Red">Red</option>
										<option value="Green">Green</option>
									</select>
									{% if size.quantity == 0 %}
									<select multiple name="qty" disabled>
										<option value="Out of stock">Out of stock</option>
									</select>
									{% else %}
									<select multiple name="qty">
										<option value="Out of stock">Out of stock</option>
									</select>
									{% endif %}
									<!-- <a href="#" data-reveal-id="myModal" class="modal-trigger">Add To Review</a>
									<a href="#" data-reveal-id="myModal" class="quickview-link s-icon"></a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</form>
	</section>
</main>
<script>
    var user = "{{ user }}";
	var csrftoken = "{{ csrf_token }}";
</script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	
{% endblock content %}
